@define-color background #000000;
@define-color foreground #a9b1d6;
@define-color focused #bb9af7;
@define-color occupied #c0caf5;
@define-color empty #565f89;
@define-color urgent #f7768e;
@define-color bluetooth #2ac3de;

* {
  font-family: monospace;
  font-size: 14pt;
  min-height: 0px;
}

window#waybar {
  color: @foreground;
  background: @background;
}

#tags button {
  padding: 0px;
  min-width: 20pt;
  color: @empty;
  border-radius: 0px;
}

#tags button:hover {
  box-shadow: none;
  text-shadow: none;
  background: transparent;
}

#tags button.occupied {
  color: @occupied;
  font-weight: bold;
}

#tags button.focused {
  color: @focused;
}

#bluetooth.on {
  color: @bluetooth;
}

#tags button.urgent,
#bluetooth.off,
#custom-record {
  color: @urgent;
}

#battery.warning,
#battery.critical {
  color: @foreground;
  background: transparent;
}

#tray,
#bluetooth,
#battery,
#custom-player,
#custom-weather,
#custom-signal,
#custom-inbox,
#custom-record,
#custom-clock {
  padding: 0px 10px;
}
