@define-color background #1a1b26;
@define-color foreground #a9b1d6;
@define-color focused #bb9af7;
@define-color occupied #c0caf5;
@define-color empty #565f89;
@define-color urgent #f7768e;
@define-color bluetooth #2ac3de;

* {
  font-family: monospace;
  font-size: 12pt;
}

window#waybar {
  background: @background;
  color: @foreground;
}

#tags {
  padding: 0px 6px 0px 12px;
}

#custom-clock {
  padding: 0px 18px 0px 12px;
}

#custom-player,
#custom-record,
#custom-weather,
#custom-inbox,
#bluetooth,
#custom-mute,
#battery {
  padding: 0px 12px;
}

#tags button {
  padding: 0px 6px;
  min-width: 0px;
  color: @empty;
  border-radius: 0px;
}

#tags button.occupied {
  color: @occupied;
}

#tags button.focused {
  color: @focused;
}

#bluetooth.on {
  color: @bluetooth;
}

#bluetooth.off,
#bluetooth.disabled,
#custom-record {
  color: @urgent;
}

#battery.warning,
#battery.critical {
  color: @foreground;
}
