@define-color window #282828;
@define-color module #000000;
@define-color focus #FFFFFF;
@define-color unfocus #BDAE93;
@define-color urgent #FB4934;

* {
	font-family: monospace;
	font-size: 14px;
	min-height: 0px;
}

window#waybar {
	color: @focus;
    background: @window;
}

#window {
    background: @window;
    padding-left: 10px;
}

#tags button {
	padding: 0px 2px;
	color: @unfocus;
	border-radius: 0px;
}

#tags button.occupied {
    color: @focus;
	font-weight: bold;
}

#tags button.focused {
    color: @focus;
    background: @window;
}

#tags button.urgent {
    color: @urgent;
}

#custom-record {
    color: @urgent;
}

#battery.critical {
    color: @urgent;
}

.modules-left {
  background-color: @module;
}

.modules-right {
  background-color: @module;
}

#battery,
#custom-clock,
#custom-inbox,
#custom-weather,
#custom-record {
    padding: 0px 10px;
}
