@define-color background #000000;
@define-color foreground #a9b1d6;
@define-color focused #bb9af7;
@define-color urgent #ff757f;
@define-color bluetooth #2ac3de;

* {
  font-family: monospace;
  font-size: 12pt;
  border-radius: 0px;
}

window#waybar {
  background: @background;
  color: @foreground;
}
window#waybar.hidden {
  background: transparent;
}

#tags {
  padding: 0px 6px;
}
#custom-player,
#custom-record,
#custom-weather,
#custom-inbox,
#bluetooth,
#custom-mute,
#battery,
#custom-clock {
  padding: 0px 12px;
}

#tags button {
  padding: 0px 6px;
  min-width: 0px;
  border-radius: 0px;
  color: @foreground;
}
#tags button.occupied {
  color: @foreground;
}
#tags button.focused {
  color: @focused;
}
#tags button.urgent {
  color: @urgent;
}

#battery.warning,
#battery.critical {
  color: @foreground;
}

#bluetooth.on {
  color: @bluetooth;
}
