* {
  text-shadow: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}

.tab-group-line {
  #tabbrowser-tabs[orient="horizontal"] & {
    tab-group:not([collapsed])
      > .tabbrowser-tab:last-of-type
      > .tab-stack
      > .tab-background
      > &,
    tab-group[collapsed]:not([hasmultipletabs]) & {
      inset-inline-end: 0 !important;
    }
  }
}

.titlebar-spacer,
.titlebar-buttonbox-container,
.tabbrowser-tab:not([selected]) .tab-close-button,
.urlbarView,
.urlbar-background,
#back-button,
#forward-button,
#urlbar-searchmode-switcher,
#tracking-protection-icon-container,
#page-action-buttons > :not(#urlbar-zoom-button),
#PanelUI-menu-button,
#statuspanel,
#context-navigation,
#context-sep-navigation {
  display: none !important;
}
