* {
  border: none !important;
  text-shadow: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}

:root {
  --toolbarbutton-border-radius: 0 !important;
  --tab-border-radius: 0 !important;
  --tab-block-margin: 0 !important;
}

.tabbrowser-tab:not([pinned]) {
  margin-inline-start: 0 !important;
  padding-inline-end: 0 !important;
}
.tabbrowser-tab:not([pinned]):not([selected]) .tab-close-button {
  display: none !important;
}
.tab-background {
  margin-left: -4px !important;
}
.titlebar-spacer {
  display: none !important;
}

#urlbar-background {
  background-color: var(--lwt-accent-color) !important;
  outline: none !important;
}

#unified-extensions-button {
  width: 3px;
  padding-inline: 0 !important;
}
#unified-extensions-button > .toolbarbutton-icon {
  width: 0 !important;
}

.urlbarView,
.titlebar-buttonbox-container,
#forward-button,
#back-button,
#context-navigation,
#context-sep-navigation,
#tracking-protection-icon-container,
#page-action-buttons > :not(#urlbar-zoom-button),
#PanelUI-menu-button {
  display: none !important;
}
