* {
  border: none !important;
  text-shadow: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}

:root {
  --toolbarbutton-border-radius: 0 !important;
  --tab-border-radius: 0 !important;
  --tab-block-margin: 0 !important;
  --attention-dot-color: rgba(0, 0, 0, 0) !important;
}

.tabbrowser-tab {
  margin-inline: 0 !important;
  padding-inline: 0 !important;
}

#urlbar-background {
  background-color: var(--lwt-accent-color) !important;
  outline: none !important;
}

#unified-extensions-button {
  width: 3px;
  padding-inline: 0 !important;
}
#unified-extensions-button > .toolbarbutton-icon {
  width: 0 !important;
}

.urlbarView,
.titlebar-spacer,
.titlebar-buttonbox-container,
.tabbrowser-tab:not([selected]) .tab-close-button,
#forward-button,
#back-button,
#context-navigation,
#context-sep-navigation,
#tracking-protection-icon-container,
#page-action-buttons > :not(#urlbar-zoom-button),
#PanelUI-menu-button {
  display: none !important;
}
