/* No round corners and shodows */
* {
  border-radius: 0 !important;
  --zen-colors-primary: #bb9af7 !important;
  --zen-colors-secondary: #414868 !important;
  --zen-colors-tertiary: #1a1b26 !important;
  --zen-colors-border: #9d7cd8 !important;
  --zen-primary-color: #bb9af7 !important;
  --zen-dialog-background: #1a1b26 !important;
}

/* Hide workspace border */
#zen-workspaces-button {
  border-width: 0 !important;
}

/* Hide forward button */
#back-button,
#forward-button {
  display: none !important;
}

/* Hide the extensions menu but allow popups */
#unified-extensions-button,
#unified-extensions-button > .toolbarbutton-icon {
  width: 0px !important;
  padding: 0px !important;
}

/* Hide the hamburger menu */
#PanelUI-menu-button {
  display: none !important;
}

/* Hide title bar navagation, tabs drop down, and url bar icons */
#tracking-protection-icon-container,
#page-action-buttons > :not(#urlbar-zoom-button),
#alltabs-button,
.titlebar-buttonbox-container {
  display: none !important;
}

/* Hide new tab sidebar button */
#vertical-tabs-newtab-button {
  display: none !important;
}

/* Add minimal sidebar spacing */
#zen-sidebar-icons-wrapper {
  padding-top: 0px !important;
}

/* Hide all sidebar icons */
#zen-sidebar-icons-wrapper {
  display: none !important;
}

/* Fix sidebar width */
#TabsToolbar-customization-target {
  height: 100%;
  min-width: var(--zen-sidebar-action-button-width);
}
