spawn-at-startup "init"
prefer-no-csd

output "eDP-1" { variable-refresh-rate on-demand=true; }

input {
    keyboard {
        xkb {
            layout "us"
            options "ctrl:nocaps"
        }
        repeat-delay 150
        repeat-rate 30
    }
    touchpad {
        tap
        dwt
        drag false
        natural-scroll
        accel-speed 0.35
        accel-profile "adaptive"
        scroll-method "two-finger"
        scroll-factor 1.30
    }
    warp-mouse-to-focus
    focus-follows-mouse max-scroll-amount="0%"
}

cursor {
    xcursor-theme "Bibata-Modern-Ice"
    xcursor-size 24
    hide-when-typing
    hide-after-inactive-ms 1000
}

layout {
    gaps 20
    background-color "#073642"
    always-center-single-column
    center-focused-column "on-overflow"

    preset-column-widths {
        proportion 0.5
        proportion 0.8
    }
    
    default-column-width { proportion 0.8; }
    focus-ring { off; }
    border {
        width 2
        active-color "#C3E88D"
        inactive-color "#414868"
        urgent-color "#C53B53"
    }
}

gestures { hot-corners { off; }; }
overview { workspace-shadow { off; }; }

layer-rule {
    match namespace="^notifications$"
    block-out-from "screencast"
}
window-rule {
    match is-window-cast-target=true
    border { inactive-color "#C53B53"; }
}
window-rule {
    match app-id="firefox"
    open-maximized true
}
window-rule {
    match app-id="mpv"
    variable-refresh-rate true
}
window-rule {
    draw-border-with-background false
}
                            
binds {
    Super+Q repeat=false                                                   { close-window; }
    Super+Shift+Q                                                          { quit; }
    Super+Slash                                                            { show-hotkey-overlay; }
    Super+Return hotkey-overlay-title="Spawn Terminal"                     { spawn "sh" "-c" "$TERMINAL"; }
    Super+Shift+Return                                                     { switch-preset-column-width; }
    Super+Escape repeat=false                                              { toggle-overview; }
    Super+Backspace hotkey-overlay-title="Spawn System Menu"               { spawn "menusys"; }
    Super+Shift+Backspace hotkey-overlay-title="Lock System"               { spawn "lock"; }
    Super+F                                                                { maximize-column; }
    Super+Shift+F                                                          { fullscreen-window; }
    Super+Space hotkey-overlay-title="Hide Status Bar"                     { spawn "sh" "-c" "pkill -USR1 waybar"; }

    Super+H                                                                { focus-column-left; }
    Super+J                                                                { focus-workspace-down; }
    Super+K                                                                { focus-workspace-up; }
    Super+L                                                                { focus-column-right; }
    Super+Shift+H                                                          { move-column-left; }
    Super+Shift+J                                                          { move-window-to-workspace-down; }
    Super+Shift+K                                                          { move-window-to-workspace-up; }
    Super+Shift+L                                                          { move-column-right; }
    Super+Shift+BracketLeft                                                { consume-or-expel-window-right; }
    Super+Shift+BracketRight                                               { consume-or-expel-window-left; }
    Super+V                                                                { switch-focus-between-floating-and-tiling; }
    Super+Shift+V                                                          { toggle-window-floating; }

    Super+1 hotkey-overlay-title=null                                      { focus-workspace 1; }
    Super+2 hotkey-overlay-title=null                                      { focus-workspace 2; }
    Super+3 hotkey-overlay-title=null                                      { focus-workspace 3; }
    Super+4 hotkey-overlay-title=null                                      { focus-workspace 4; }
    Super+5 hotkey-overlay-title=null                                      { focus-workspace 5; }
    Super+6 hotkey-overlay-title=null                                      { focus-workspace 6; }
    Super+7 hotkey-overlay-title=null                                      { focus-workspace 7; }
    Super+8 hotkey-overlay-title=null                                      { focus-workspace 8; }
    Super+9 hotkey-overlay-title=null                                      { focus-workspace 9; }
    
    Super+Shift+1 hotkey-overlay-title=null                                { move-column-to-workspace 1; }
    Super+Shift+2 hotkey-overlay-title=null                                { move-column-to-workspace 2; }
    Super+Shift+3 hotkey-overlay-title=null                                { move-column-to-workspace 3; }
    Super+Shift+4 hotkey-overlay-title=null                                { move-column-to-workspace 4; }
    Super+Shift+5 hotkey-overlay-title=null                                { move-column-to-workspace 5; }
    Super+Shift+6 hotkey-overlay-title=null                                { move-column-to-workspace 6; }
    Super+Shift+7 hotkey-overlay-title=null                                { move-column-to-workspace 7; }
    Super+Shift+8 hotkey-overlay-title=null                                { move-column-to-workspace 8; }
    Super+Shift+9 hotkey-overlay-title=null                                { move-column-to-workspace 9; }

    Super+A hotkey-overlay-title=null                                      { spawn "sh" "-c" "$TERMINAL pulsemixer"; }
    Super+Shift+A hotkey-overlay-title=null                                { spawn "sh" "-c" "$TERMINAL newsraft"; }
    Super+C hotkey-overlay-title=null                                      { spawn "menucalc"; }
    Super+Shift+C hotkey-overlay-title=null                                { spawn "camtoggle"; }
    Super+D hotkey-overlay-title=null                                      { spawn "fuzzel"; }
    Super+Shift+D hotkey-overlay-title=null                                { spawn "menubm"; }
    Super+E hotkey-overlay-title=null                                      { spawn "sh" "-c" "$TERMINAL aerc"; }
    Super+Shift+E hotkey-overlay-title=null                                { spawn "menuemoji"; }
    Super+I hotkey-overlay-title=null                                      { spawn "sh" "-c" "$TERMINAL htop"; }
    Super+Shift+I hotkey-overlay-title=null                                { spawn "menubt"; }
    Super+M hotkey-overlay-title=null                                      { spawn "menumpd"; }
    Super+N hotkey-overlay-title=null                                      { spawn "sh" "-c" "$TERMINAL notes n"; }
    Super+R hotkey-overlay-title=null                                      { spawn "sh" "-c" "$TERMINAL lf"; }
    Super+Shift+R hotkey-overlay-title=null                                { spawn "menupass"; }
    Super+T hotkey-overlay-title=null                                      { spawn "sh" "-c" "$TERMINAL ttyper"; }
    Super+W hotkey-overlay-title=null                                      { spawn "sh" "-c" "$BROWSER"; }
    Super+Shift+W hotkey-overlay-title=null                                { spawn "menuiwd"; }

    Print hotkey-overlay-title="Screenshot"                                { screenshot show-pointer=false; }
    Shift+Print hotkey-overlay-title="Screenshot Screen"                   { screenshot-screen show-pointer=false; }
    Control+Shift+Print hotkey-overlay-title="Screenshot Window"           { screenshot-window; }
    Super+Print hotkey-overlay-title="Spawn Recoding Menu"                 { spawn "menurecord"; }
    Super+Shift+Print hotkey-overlay-title="Stop Recording"                { spawn "menurecord" "kill"; }

    Super+Equal hotkey-overlay-title=null                                  { spawn "volume" "high"; }
    Super+Minus hotkey-overlay-title=null                                  { spawn "volume" "low"; }
    Super+Shift+Equal hotkey-overlay-title=null                            { spawn "volume" "higher"; }
    Super+Shift+Minus hotkey-overlay-title=null                            { spawn "volume" "lower"; }
    Super+Shift+M allow-when-locked=true hotkey-overlay-title=null         { spawn "volume" "mute"; }
    Super+Alt+Equal allow-when-locked=true hotkey-overlay-title=null       { spawn "bright" "up"; }
    Super+Alt+Minus allow-when-locked=true hotkey-overlay-title=null       { spawn "bright" "down"; }

    Super+P hotkey-overlay-title="Play/Pause Song"                         { spawn "mpc" "-q" "toggle"; }
    Super+Comma hotkey-overlay-title="Prev Song"                           { spawn "mpc" "-q" "prev"; }
    Super+Period hotkey-overlay-title="Next Song"                          { spawn "mpc" "-q" "next"; }
    Super+Alt+P hotkey-overlay-title="Clear Playlist"                      { spawn "mpc" "-q" "clear"; }
    Super+Shift+Comma hotkey-overlay-title="Seek Song -5%"                 { spawn "mpc" "-q" "seek -5%"; }
    Super+Shift+Period hotkey-overlay-title="Seek Song +5%"                { spawn "mpc" "-q" "seek +5%"; }
    Super+Alt+Comma hotkey-overlay-title="Replay Song"                     { spawn "mpc" "-q" "seek 0%"; }

    XF86AudioRaiseVolume hotkey-overlay-title=null                         { spawn "volume" "high"; }
    XF86AudioLowerVolume hotkey-overlay-title=null                         { spawn "volume" "low"; }
    XF86AudioMute allow-when-locked=true hotkey-overlay-title=null         { spawn "volume" "mute"; }
    XF86MonBrightnessUp allow-when-locked=true hotkey-overlay-title=null   { spawn "bright" "up"; }
    XF86MonBrightnessDown allow-when-locked=true hotkey-overlay-title=null { spawn "bright" "down"; }
    XF86AudioPlay hotkey-overlay-title=null                                { spawn "mpc" "-q" "toggle"; }
    XF86AudioPrev hotkey-overlay-title=null                                { spawn "mpc" "-q" "prev"; }
    XF86AudioNext hotkey-overlay-title=null                                { spawn "mpc" "-q" "next"; }
    XF86Display hotkey-overlay-title=null                                  { spawn "menusc"; }
    XF86RFKill hotkey-overlay-title=null                                   { spawn "airplane"; }
    XF86AudioMedia hotkey-overlay-title=null                               { spawn "null"; }
}
