headerbar.default-decoration {
    margin-bottom: 50px;
    margin-top: -100px;
    border-radius: 0;
}

.titlebar,
window {
	border-radius: 0;
	box-shadow: none;
}

window.csd,window.csd decoration { box-shadow: none; }

window.csd icon { border-radius: 0; }
