theme = "tokyonight"

[editor]
line-number = "relative"
bufferline = "multiple"
gutters = ["line-numbers", "spacer", "diff"]
scrolloff = 8
color-modes = true
true-color = true
undercurl = true
soft-wrap.enable = true
rulers = [120]
clipboard-provider = "wayland"
indent-guides.render = true
end-of-line-diagnostics = "hint"
inline-diagnostics.cursor-line = "warning"

[editor.cursor-shape]
normal = "block"
insert = "bar"
select = "underline"

[editor.statusline]
left = [
  "mode",
  "file-name",
  "version-control",
  "spinner",
  "read-only-indicator",
  "file-modification-indicator",
]
right = ["diagnostics", "selections", "position", "file-type"]

[editor.lsp]
goto-reference-include-declaration = false
display-inlay-hints = false
display-progress-messages = true

[keys.normal]
H = ":buffer-previous"
L = ":buffer-next"
X = "select_line_above"
G = "goto_file_end"
V = ["extend_line_below", "select_mode"]

[keys.insert]
C-h = ["jump_view_left", "insert_mode"]
C-l = ["jump_view_right", "insert_mode"]
